body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(0, 31, 171);
}
p {
  text-align: center;
}
h1 {
  background-color: rgb(28, 111, 163);
}
h2 {
  background-color: rgb(28, 111, 163);
}
h3 {
  background-color: rgb(28, 111, 163);
}
